<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
	<session-factory>

		<mapping class="br.com.sindicato.model.Contribuinte" />
		<mapping class="br.com.sindicato.model.Situacao" />
		<mapping class="br.com.sindicato.model.Caixa" />
		<mapping class="br.com.sindicato.model.Endereco" />
		<mapping class="br.com.sindicato.model.Funcionario" />
		<mapping class="br.com.sindicato.model.Pessoa" />
		<mapping class="br.com.sindicato.model.Instituicao" />
		<mapping class="br.com.sindicato.model.Saida" />


	</session-factory>
</hibernate-configuration>